
	

    <div class="main-panel">
		
		<%= render 'topNavi', title: "전공 관리" %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
    				<div class="col-md-12">
    					<div class="card">
    						<div class="header">
    							<h4 class="title">Add Major</h4>
    						</div>
    						<div class="content">
    				
    							<%= form_tag({controller: "major", action: "create"}, method: "post") do %>
    								<div class="row">
    									<div class="col-md-3">
    										<div class="form-group">
    											<label>이름</label>
    											 <%= text_field(:major, :name, class: "form-control border-input", placeholder: "name") %>
    										</div>
    									</div>
    									<div class="col-md-3">
    										<div class="form-group">
    											<label>주소</label>
    											<%= text_field(:major, :office, class: "form-control border-input", placeholder: "office") %>
    										</div>
    									</div>
    									<div class="col-md-3">
    										<div class="form-group">
    											<label>번호</label>
    											<%= text_field(:major, :tel, class: "form-control border-input", placeholder: "tel") %>
    										</div>
    									</div>
    									<div class="col-md-3">
    										<div class="form-group">
    											<label>fax</label>
    											<%= text_field(:major, :fax, class: "form-control border-input", placeholder: "fax") %>
    										</div>
    									</div>
    								</div>
    								<div class="text-center">
    									<button type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
    								</div>
    								<div class="clearfix">
    								</div>
    							<% end %>
    						</div>
    					</div>
    				</div>
				</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Major</h4>
                                <p class="category">전공 데이터</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Name</th>
                                    	<th>Office</th>
                                    	<th>Tel</th>
                                    	<th>Fax</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Dakota Rice</td>
                                        	<td>$36,738</td>
                                        	<td>Niger</td>
                                        	<td>Oud-Turnhout</td>
                                        </tr>
                                        <% @major_list.each do |major| %>
                                        <tr>
                                        	<td><%= major.id %></td>
                                        	<td><%= major.name %></td>
                                        	<td><%= major.office %></td>
                                        	<td><%= major.tel %></td>
                                        	<td><%= major.fax %></td>
                                        </tr>
                                        <% end %>
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

