<div class="main-panel">
    
    <%= render 'topNavi', title: "메세지 관리" %>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-md-7">
					<div class="card">
						<div class="header">
							<h4 class="title">Add message</h4>
						</div>
						<div class="content">
				
							<%= form_tag({controller: "message", action: "create"}, method: "post") do %>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>단어</label>
											 <%= text_field(:message, :keyword, class: "form-control border-input", placeholder: "입력될 단어") %>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>등록자</label>
											<input type="text" class="form-control border-input" placeholder="등록한 사람" value="관리자">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>메세지 내용</label>
										    <%= text_area(:message, :content ,size: "1x5",class: "form-control border-input", placeholder: "화면에 표시될 메세지의 내용 '/'로 나누면 랜덤하게 나옴") %>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
								</div>
								<div class="clearfix">
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<div class="card">
						<div class="header">
							<h4 class="title">List</h4>
						</div>
						<div class="content">
							<ul class="list-unstyled team-members">
								
								<% @message_list.each do |message| %>
								    <li>
    								<div class="row">
    									<div class="col-xs-3">
    										<%= message.keyword %> <br/>
    										<span class="text-muted"><small>호출날짜</small></span>
    									</div>
    									<div class="col-xs-6">
    										<%= message.content %>
    									</div>
    									
    									<div class="col-xs-3">
    										<%= link_to "삭제", "/messages/#{message.id}",:method => "delete" %>
    									</div>
    								</div>
    								</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>